// Colors variables 
$dark-blue: #00658F;
$light-blue: #519EC0;
$blue-dark-button: #0F6F98;
$blue-light-button: #4293B6;
$primary: #2CA6A4;
$white: #fff;
$black: #000;
$grey: #E7E7E7;
$light-grey: #EFF4F7;